<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            color: #000000;
            font-family: Arial;
            background-color: #ffffff;
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
        }

        a {
            color: #000000;
            font-weight: normal;
        }

        p {
            color: #566871;
            font-size: 13px;
            line-height: 16px;
            font-weight: normal;
            -family: Arial;
        }

        img {
            border: none;
            display: block;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body topmargin="0" leftmargin="0" style="margin: 0; padding: 0">
    <table width="100%" height="100%" bgcolor="#ffffff" style="background-color: #ffffff;" align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="100%" valign="top" align="center">
                <table width="730" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                    <tr>
                        <td width="20"></td>
                        <td width="690" valign="top" style="vertical-align: top;">
                            <table width="690" align="left" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                <tr>
                                    <td height="20" style="height: 20px;"><img src="images/spacer.gif" height="20" width="20" alt="" style="display: block; border: none;" /></td>
                                </tr>
                                <tr>
                                    <td style="font: normal bold 30px/36px Arial; color: #042654;"><img src="images/green.jpg" height="303" width="690" alt="Sotio" style="display: block; border: none;" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="margin: 0; color: #000; font: normal normal 12px/16px Arial;">
                                            <br>
                                            {Salutation}<br>
                                            <br>
                                            We are happy to invite you to the testing of DROOL.<br />
                                            <br>
                                        </p>
                                        <table width="114" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                            <tr>
                                                <td><a href="{Yes}" style="font: normal bold 16px/20px Arial; color: #042654; text-decoration: none;"><img src="images/btn-yes.png" alt="Yes" width="54" height="36" style="border: none; display: block;"></a></td>
                                                <td width="6"></td>
                                                <td><a href="{No}" style="font: normal bold 16px/20px Arial; color: #042654; text-decoration: none;"><img src="images/btn-no.png" alt="No" width="54" height="36"></a></td>
                                            </tr>
                                        </table>
                                        <p style="margin: 0; color: #000; font: normal normal 12px/16px Arial;">
                                            <br />
                                            Best regards<br>
                                        </p>
                                        <p style="margin: 0; color: #000; font: normal normal 12px/16px Arial;">
                                            <br>
                                            frohikey / Goto10
                                            <br>
                                            PS: Příliš žluťoučký kůň úpěl ďábelské ódy
                                        </p>
                                        <p style="margin: 0; color: #000; font: normal normal 12px/16px Arial;"><br></p>
                                        <p style="margin: 0; color: #000; font: normal normal 12px/16px Arial;"><br></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="20"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>